@{
    ViewData["Title"] = "Configurator";
}

<div class="text-left">
    <h1 class="display-5">Configurator</h1>
    <p>...</p>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
}